<div class="col-12 d-flex justify-content-center py-3 font-weight-bold">
    <h4>Reporte de visitas diarias</h4>
</div>


<form (ngSubmit)="buscar()">

    <div class="row">

        <div class="col-md-10">
            <div class="form-group row mb-3">
                <label for="fecDesde" class="col-sm-2 col-form-label">Desde</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="fecDesde" name="fecDesde" [(ngModel)]="fecDesde">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="fecHasta" class="col-sm-2 col-form-label">Hasta</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="fecHasta" name="fecHasta" [(ngModel)]="fecHasta">
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-2 d-flex justify-content-center">
            <div style="align-self: end; padding-bottom: 15px;">
                <button class="btn btn-primary" type="submit">
                    <span class="btn-label"><i class="bi bi-search"></i></span>
                    Buscar</button>
            </div>
        </div>

    </div>
    <div class="mt-3" *ngIf="listaMostrar.length > 0">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Número de doc.</th>
                    <th>Trabajador</th>
                    <th>Piso</th>
                    <th>Cubiculo</th>
                    <th>Asiento</th>
                    <th></th>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of listaMostrar">

                        <tr>
                            <td>{{item.numDoc}}</td>
                            <td>{{item.trabajador}}</td>
                            <td>{{item.piso}}</td>
                            <td>{{item.cubiculo}}</td>
                            <td>{{item.asiento}}</td>
                            <td>
                                <button class="btn" type="button" (click)="descargar(item)">
                                    <span class="btn-label"><i class="bi bi-file-earmark-arrow-down"></i></span>
                                </button>
                            </td>
                        </tr>

                    </ng-container>
                </tbody>
            </table>
        </div>

    </div>

</form>