<header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle" (click)="mostrar()"></i> </div>
    <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div> 
            <a href="#" class="nav_logo"> 
                <i class='bx bx-layer nav_logo-icon'></i> 
                <span class="nav_logo-name">PWHC</span> 
            </a>
            <div class="nav_list"> 
                <a routerLink="registro-usuario" class="nav_link active"> 
                    <i class='bx bx-grid-alt nav_icon'></i>
                    <span class="nav_name" >Registro Usuario</span>
                 </a> 
                 <a routerLink="registro-vacuna" class="nav_link"> 
                    <i class='bx bx-user nav_icon'></i> 
                    <span class="nav_name">Registro Vacunado</span> 
                </a> 
                <a routerLink="registro-visita" class="nav_link"> 
                    <i class='bx bx-message-square-detail nav_icon'></i> 
                    <span class="nav_name">Registro Visita</span> 
                </a> 
                <a routerLink="registro-firma" class="nav_link"> 
                    <i class='bx bx-message-square-detail nav_icon'></i> 
                    <span class="nav_name">Registro Firma</span> 
                </a> 
                <a routerLink="registro-espacio" class="nav_link"> 
                    <i class='bx bx-bookmark nav_icon'></i> 
                    <span class="nav_name">Asignacion espacios</span> 
                </a> 
                <a routerLink="reporte-vacunado" class="nav_link"> 
                    <i class='bx bx-folder nav_icon'></i> 
                    <span class="nav_name">Reporte Vacunados</span> 
                </a>
                <a routerLink="reporte-visita" class="nav_link"> 
                    <i class='bx bx-bar-chart-alt-2 nav_icon'></i> 
                    <span class="nav_name">Reporte Visitas</span> 
                </a> 
            </div>
        </div> 
        <a href="#" class="nav_link"> 
            <i class='bx bx-log-out nav_icon'></i> 
            <span class="nav_name">Salir</span> 
        </a>
    </nav>
</div>
<!--Container Main start-->
<!-- class="height-100 bg-light"  -->
<div style="padding-left: 10px;">
    
    <router-outlet></router-outlet>
      
</div>