<div class="col-12 d-flex justify-content-center py-3 font-weight-bold">
    <h4>Reporte de empleados vacunados</h4>
</div>


<form (ngSubmit)="buscar()">

    <div class="row">

        <div class="col-md-10">

            <div class="form-group row mb-3">
                <label for="numDoc" class="col-sm-2 col-form-label">Número doc</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="numDoc" name="numDoc" [(ngModel)]="numDoc">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="nombres" class="col-sm-2 col-form-label">Nombres</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombres" name="nombres" [(ngModel)]="nombres">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="apellidos" class="col-sm-2 col-form-label">Apellidos</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="apellidos">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="linea" class="col-sm-2 col-form-label">Linea de servicio</label>
                <div class="col-sm-10">

                    <select id="linea" class="form-select" name="linea" [(ngModel)]="linea">
                        <option selected value="">-- Seleccione linea --</option>
                        <option value="0">Linea de servico 1</option>
                        <option value="1">Linea de servicio 2</option>
                    </select>

                </div>
            </div>


        </div>


        <div class="col-sm-12 col-md-2 d-flex justify-content-center">
            <div style="align-self: end; padding-bottom: 15px;">
                <button class="btn btn-primary" type="submit">
                    <span class="btn-label"><i class="bi bi-search"></i></span>
                    Buscar</button>
            </div>
        </div>

    </div>
    <div class="mt-3" *ngIf="listaMostrar.length > 0">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Número de doc.</th>
                    <th>Trabajador</th>
                    <th>Línea</th>
                    <th>Vacunado</th>
                    <th></th>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of listaMostrar">

                        <tr>
                            <td>{{item.numDocumento}}</td>
                            <td>{{item.nombre}} {{item.Apellido}}</td>
                            <td>{{item.linea}}</td>
                            <td>{{item.estavacunado}}</td>
                            <td>
                                <button class="btn" type="button" (click)="descargar(item)">
                                    <span class="btn-label"><i class="bi bi-file-earmark-arrow-down"></i></span>
                                </button>

                                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    (click)="mostrar(item)">
                                    <span class="btn-label"><i class="bi bi-eye"></i></span>
                                </button>
                            </td>
                        </tr>

                    </ng-container>
                </tbody>
            </table>
        </div>

    </div>

</form>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                
                <div class="col-sm-12 col-md-12 d-flex justify-content-center">
                    <h5 class="modal-title" id="exampleModalLabel">Detalle</h5>

                </div>

                <!-- <div class="col-sm-2 col-md-2 d-flex justify-content-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> -->

            </div>
            <div class="modal-body">

               <div class="row">
                <div class="form-group row mb-3">
                    <label for="numDoc" class="col-sm-4 col-form-label">Número documento :</label>
                    <div class="col-sm-8">
                        <label id="numDoc"> {{persona?.numDocumento}} </label>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="numDoc" class="col-sm-4 col-form-label">Nombres :</label>
                    <div class="col-sm-8">
                        <label id="numDoc"> {{persona?.nombre}} </label>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="numDoc" class="col-sm-4 col-form-label">Apellidos : </label>
                    <div class="col-sm-8">
                        <label id="numDoc"> {{persona?.Apellido}} </label>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="numDoc" class="col-sm-4 col-form-label">Número de dosis : </label>
                    <div class="col-sm-8">
                        <label id="numDoc"> {{persona?.numDosis}} </label>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="numDoc" class="col-sm-4 col-form-label">Tipo vacuna : </label>
                    <div class="col-sm-8">
                        <label id="numDoc"> {{persona?.tipoVacuna}} </label>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="numDoc" class="col-sm-4 col-form-label">Fecha de vacunacion : </label>
                    <div class="col-sm-8">
                        <label id="numDoc"> {{persona?.fecvacunacion}} </label>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="numDoc" class="col-sm-4 col-form-label">Lote : </label>
                    <div class="col-sm-8">
                        <label id="numDoc"> {{persona?.lote}} </label>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="numDoc" class="col-sm-4 col-form-label">¿Esra vacunado? </label>
                    <div class="col-sm-8">
                        <label id="numDoc"> {{persona?.estavacunado}} </label>
                    </div>
                </div>


                <div class="col-sm-12 col-md-12 d-flex justify-content-center">
                    <div style="align-self: end; padding-bottom: 15px;">
                        <button class="btn btn-primary" type="button" (click)="descargar(persona)">
                            <span class="btn-label"><i class="bi bi-file-earmark-arrow-down"></i></span>
                            Descargar</button>
                    </div>
                </div>

               </div>

                


            </div>
        </div>
    </div>
</div>