
  <div class="col-12 d-flex justify-content-center py-3 font-weight-bold">
    <h4 >Registro de datos</h4>
  </div>
  

<form [formGroup]="registroUsuario" (ngSubmit)="grabar()">

  <div class="form-group row mb-3">
    <label for="numDocumento" class="col-sm-2 col-form-label">Número de documento</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="numDocumento" formControlName="numDocumento">

      <div *ngIf="numDocumento !=null && numDocumento.errors && isSubmit">
        <div *ngIf="numDocumento.errors?.['required']" >
          <small  class="invalid-feedback">Dato requerido</small>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="nombre" class="col-sm-2 col-form-label">Nombres</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nombre" formControlName="nombre" >

      <div *ngIf="nombre !=null && nombre.errors && isSubmit">
        <div *ngIf="nombre.errors?.['required']" >
          <small  class="invalid-feedback">Dato requerido</small>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="apellido" class="col-sm-2 col-form-label">Apellidos</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="apellido" formControlName="apellido" >

      <div *ngIf="apellido !=null && apellido.errors && isSubmit">
        <div *ngIf="apellido.errors?.['required']" >
          <small  class="invalid-feedback">Dato requerido</small>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="fecNacimiento" class="col-sm-2 col-form-label">Fecha de nacimiento</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="fecNacimiento" formControlName="fecNacimiento" >

      <div *ngIf="fecNacimiento !=null && fecNacimiento.errors && isSubmit">
        <div *ngIf="fecNacimiento.errors?.['required']" >
          <small  class="invalid-feedback">Dato requerido</small>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="direccion" formControlName="direccion" ></textarea>

      <div *ngIf="direccion !=null && direccion.errors && isSubmit">
        <div *ngIf="direccion.errors?.['required']" >
          <small  class="invalid-feedback">Dato requerido</small>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="vacunado" class="col-sm-2 col-form-label">¿Usted esta vacunado?</label>
    <div class="col-sm-10">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="vacunado" id="siVacunado" value="1" formControlName="vacunado">
        <label class="form-check-label" for="siVacunado">SI</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="vacunado" id="noVacunado" value="0" formControlName="vacunado">
        <label class="form-check-label" for="noVacunado">NO</label>
      </div>

      <div *ngIf="vacunado !=null && vacunado.errors && isSubmit">
        <div *ngIf="vacunado.errors?.['required']" >
          <small  class="invalid-feedback">Dato requerido</small>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12 d-flex justify-content-center">
    <button class="btn btn-primary" type="submit">Grabar</button>
  </div>

</form>